
{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: All borrowed books </h1>

  <div style="margin-left:20px;margin-top:20px">
    
    <h4>All borrowed</h4>
    {% if perms.catalog.can_mark_returned %}
    {% for bookinst in bookinstance_list %} 
    <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
      <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }}) - {{ bookinst.borrower.username }}
      {% if perms.catalog.can_mark_returned %} - <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}   
    </li>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}