{% extends "base_generic.html" %}

{% block content %}
  <h1>{{author.first_name}} {{author.last_name}}</h1>
  <h2>{{author.date_of_birth}} - {{author.date_of_death}}</h2>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    {% for copy in author.book_set.all %}
    <hr>
    <p><a href= {{copy.get_absolute_url}}>{{ copy.title }}</a> ({{copy.bookinstance_set.all.count}})</p> <!-- author detail link not yet defined -->
    <p>{{copy.summary}}</p>
    {% endfor %}
  </div>
{% endblock %}